{%extends 'base.html' %}

{% load static %}

{% block main %}
<section>
  <a href="/" class="re-btn mt-5"><i class="fas fa-arrow-left"></i> 戻る</a>
  <div class="container">
    <div class="text-center py-5">
      <h3 class="display-4 font-weight-bold text-primary">WORKS</h3>
      
      <form action="">
        <input type="text" name="search" value="{{ request.GET.search }}" placeholder="django(使用技術)">
        <button class="btn btn-sm btn-primary">検索</button>
        {% if request.GET.search %}
          <a href="/works" class="btn btn-sm btn-danger">クリア</a>
        {% endif %}
      </form>
    
    </div>
    <div class="row">
      {% for work in works %}
        <div class="col-lg-6 mb-3">
          <div class="card h-100 shadow-sm border border-info">
            <div class="px-3 py-2 text-center">

              {% if work.url %}
              <div class="row">
                {% if "play.google" in work.url %}
                  <div class="col app-title text-end">
                    <a href="{{ work.url }}" target="_blank" class="btn btn-primary">
                      <h5 class="text-white mb-0">{{ work.title }}</h5>
                    </a>
                  </div>
                  <div class="col app-img text-start">
                    <a href="{{ work.url }}" target="_blank">
                      <img
                      src="{% static 'assets/img/google-play-badge.png' %}"
                      height="50px"
                      >
                    </a>
                  </div>
                {% else %}
                  <div class="col app-title">
                    <a href="{{ work.url }}" target="_blank" class="btn btn-primary">
                      <h5 class="text-white mb-0">{{ work.title }}</h5>
                    </a>
                  </div>
                {% endif %}
              </div>

              {% else %}
                <h5 class="text-dark mb-0">{{ work.title }}</h5>
              {% endif %}

            </div>
            <div class="d-flex justify-content-center align-items-center">
              <img src="
              {% if work.image %}
                {{ work.image.url }}
              {% else %}
                {% static 'assets/img/profile.png' %}
              {% endif %}
              " class="img-center-cover border border-info rounded" height="200px" alt="">
            </div>
            <hr class="border border-info">
            <div class="pb-3 px-4">
              <div class="pubkished mb-2">完成日：{{ work.published }}</div>
              <div class="skills mb-2">使用技術：
                {% for skill in work.skills.all %}
                <span class="badge bg-primary py-1 px-2 font-14">{{ skill }}</span>
                {% endfor %}
              </div>
              <div class="alert-info">
                <div class="card-body">
                  <span class="text-dark">{{ work.description|safe|linebreaksbr }}</span>
                </div>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}