{%extends 'base.html' %}

{% load static %}

{% block main %}

<section>
  <a href="/" class="re-btn mt-5"><i class="fas fa-arrow-left"></i> 戻る</a>
  <div class="container">
    <div class="text-center py-5">
      <h3 class="display-4 font-weight-bold text-primary">WORKS</h3>
    </div>
    <div class="row">
      {% for work in works %}
        <div class="col-lg-4 mb-3">
          <div class="card shadow-sm border border-light">
            <a href="{{ work.url }}" target="_blank">
              <div>
                <img src="
                {% if work.image %}
                  {{ work.image.url }}
                {% else %}
                  {% static 'assets/img/profile.png' %}
                {% endif %}
                " class="w-100 img-center-cover" height="200" alt="">
              </div>
              <div class="p-3">
                <h5 class="text-dark mb-0">{{ work.title }}</h5>
              </div>
          </a>
              <div class="pubkished">公開日：{{ work.published }}</div>
              <div class="skills">使用技術：
                {% for skill in work.skills.all %}
                  <span class="badge bg-primary py-1 px-2 font-14">{{ skill }}</span>
                {% endfor %}
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}